---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Astro Deploy 404" description="404: Page not found.">
	<header class="mx-auto px-4 pb-20 pt-28 sm:px-6 lg:px-8">
		<h1 class="text-center text-zinc-900 dark:text-zinc-200">404: Page Not Found</h1>
		<p class="mx-auto mt-6 max-w-3xl text-center text-lg text-zinc-900/70 dark:text-zinc-400">
			The page you are looking for does not exist. Please check the URL or return to the home page.
		</p>
	</header>
</BaseLayout>
