---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Heading from '@/components/ui/Heading.astro';
const allBlogposts = await getCollection('blog');
---

<BaseLayout>
	<div class="container mx-auto space-y-12 px-4 py-16 lg:px-8 lg:py-32 xl:max-w-7xl">
		<div class="flex flex-col space-y-4">
			<div class="text-center text-zinc-900 dark:text-zinc-200">
				<Heading level={1}>Blog</Heading>
			</div>
			<hr class="dark:border-zinc-700/75" />
			<div class="grid grid-cols-1 gap-12 lg:grid-cols-2">
				{
					allBlogposts.map((post) => (
						<div>
							<h2 class="mb-2 text-lg font-bold sm:text-xl">
								<a
									class="leading-7 text-zinc-800 hover:text-zinc-600 dark:text-zinc-200 dark:hover:text-zinc-400"
									href={`/blog/${post.slug}`}>
									{post.data.title}
								</a>
							</h2>
							<a
								class="text-sm font-medium text-primary-600 hover:text-primary-400 dark:text-primary-400 dark:hover:text-primary-300"
								href={`/blog/${post.slug}`}>
								Read more
							</a>
						</div>
					))
				}
			</div>
		</div>
	</div>
</BaseLayout>
