---
import '@/styles/globals.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#61a8e1" />
		<link rel="icon" href="/favicon.ico" sizes="48x48" />
		<link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<title>Astro Deploy</title>
	</head>
	<body>
		<main>
			<div class="flex items-center justify-center px-4 pt-48">Hello World</div>
		</main>
	</body>
</html>
