---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Astro Deploy">
	<div class="flex items-center justify-center px-4 pt-48 dark:text-white">Hello World</div>
</BaseLayout>
