---
interface Props {
	text: string;
	position?: 'top' | 'right' | 'bottom' | 'left';
}

const { text, position = 'top' } = Astro.props;

const positionClasses = {
	top: 'bottom-full left-1/2 mb-2 -translate-x-1/2',
	right: 'left-full top-1/2 ml-2 -translate-y-1/2',
	bottom: 'top-full left-1/2 mt-2 -translate-x-1/2',
	left: 'right-full top-1/2 mr-2 -translate-y-1/2',
};
---

<div class="group relative inline-block">
	<slot />
	<div
		class={`invisible absolute ${positionClasses[position]} z-10 whitespace-nowrap rounded-lg bg-gray-800 px-3 py-2 text-sm text-white opacity-0 shadow-lg transition-all duration-300 ease-in-out group-hover:visible group-hover:opacity-100`}>
		{text}
		<div
			class="absolute left-1/2 top-full -translate-x-1/2 border-4 border-transparent border-t-gray-800">
		</div>
	</div>
</div>
