---
import '@/styles/globals.css';
import Header from '@/components/layout/Header.astro';
import Footer from '@/components/layout/Footer.astro';
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#61a8e1" />
		<link rel="icon" href="/favicon.ico" sizes="48x48" />
		<link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<title>{title}</title>
	</head>
	<body class="dark:bg-secondary flex min-h-screen flex-col">
		<Header />
		<main class="flex-grow">
			<slot />
		</main>
		<Footer />
	</body>
</html>
